In [1]:
from sklearn.datasets import load_iris

In [2]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [30]:
data = load_iris()

In [31]:
df = pd.DataFrame(data.data, columns=data.feature_names)

In [32]:
df.head()

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                5.1               3.5                1.4               0.2
1                4.9               3.0                1.4               0.2
2                4.7               3.2                1.3               0.2
3                4.6               3.1                1.5               0.2
4                5.0               3.6                1.4               0.2

In [35]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 4 columns):
sepal length (cm)    150 non-null float64
sepal width (cm)     150 non-null float64
petal length (cm)    150 non-null float64
petal width (cm)     150 non-null float64
dtypes: float64(4)
memory usage: 4.8 KB

In [36]:
df.columns

Index(['sepal length (cm)', 'sepal width (cm)', 'petal length (cm)',
       'petal width (cm)'],
      dtype='object')

In [37]:
df.describe()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm)
count,150.000000,150.000000,150.000000,150.000000
mean,5.843333,3.057333,3.758000,1.199333
std,0.828066,0.435866,1.765298,0.762238
min,4.300000,2.000000,1.000000,0.100000
25%,5.100000,2.800000,1.600000,0.300000
50%,5.800000,3.000000,4.350000,1.300000
75%,6.400000,3.300000,5.100000,1.800000
max,7.900000,4.400000,6.900000,2.500000

In [39]:
df.columns.shape

(4,)

In [41]:
df.index.shape

(150,)

In [42]:
X = data.data

In [43]:
y = data.target

In [44]:
from sklearn.neighbors import KNeighborsClassifier

In [45]:
K_Neighbors_Classifier = KNeighborsClassifier()

In [46]:
K_Neighbors_Classifier.fit(X, y)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=5, p=2,
                     weights='uniform')

In [47]:
from sklearn.model_selection import train_test_split

In [48]:
X_train, x_test, y_train, y_test  = train_test_split(X, y, test_size = .5)

In [49]:
K_Neighbors_Classifier.fit(X_train, y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=5, p=2,
                     weights='uniform')

In [50]:
from sklearn import tree

In [51]:
classifier = tree.DecisionTreeClassifier()

In [52]:
classifier.fit(X_train, y_train)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
                       max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort=False,
                       random_state=None, splitter='best')

In [53]:
ypred =classifier.predict(x_test)

In [54]:
from sklearn.metrics import accuracy_score

In [56]:
accuracy_score(y_test, ypred)

0.9733333333333334

In [57]:
np.ceil(accuracy_score(y_test, ypred))

1.0

In [ ]:
# from  sklearn import  datasets
# iris=datasets.load_iris()
# x=iris.data
# y=iris.target
# from sklearn.model_selection import train_test_split
# x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=.5)
# from sklearn import tree
# classifier=tree.DecisionTreeClassifier()
# classifier.fit(x_train,y_train)
# predictions=classifier.predict(x_test)
# from sklearn.metrics import accuracy_score
# print(accuracy_score(y_test,predictions))